body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6b396; /* Laranja terral claro */
    color: #333;
    
}

.container {
    width: 80%;
    margin: 0 auto;
   
}

header {
    background-color: #c0754f; /* Laranja terral escuro */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

section {
    padding: 40px 0;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

section p {
    text-align: justify;
    line-height: 1.6;
    color: #54463e; /* Marrom escuro */
}

#perfil {
    text-align: center;
    margin-bottom: 30px;
    
}

#perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#info {
    text-align: center;
}

#nome {
    font-weight: bold;
}

#cafe, #história {
    background-color: #e6b396;
    
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

#cafe li, #história li {
    list-style: none;
    margin-bottom: 20px;
}

#cafe h3, #história h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}


